<div class="topnav">
  <button id="toggleSidebar" mat-icon-button (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="search-bar">
    <mat-icon>search</mat-icon>
    <input type="text" placeholder="Search Here">
  </div>
  <div class="actions">
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="languageMenu">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #languageMenu="matMenu" yPosition="below">
      <button mat-menu-item (click)="changeLanguage('en')">English</button>
      <button mat-menu-item (click)="changeLanguage('es')">Spanish</button>
      <button mat-menu-item (click)="changeLanguage('fr')">French</button>
      <button mat-menu-item (click)="changeLanguage('de')">German</button>
    </mat-menu>
    <button mat-icon-button (click)="toggleDarkMode()">
      <mat-icon>brightness_6</mat-icon>
    </button>
  </div>
  <div class="profile" (mouseover)="showDropdown = true" (mouseleave)="showDropdown = false">
    <img src="assets/profile.jpg" alt="Profile">
    <span>{{ user.name }}</span>
    <div *ngIf="showDropdown" class="dropdown">
      <a  routerLink="/profile-details">Details</a>
      <a (click)="logout()">Logout</a>
    </div>
  </div>
</div>

<div class="sidenav" [ngClass]="{'hidden': isSidebarHidden}">
  <div class="logo">Admin Panel</div>
  <div class="menu">
    <div class="menu-item active" routerLink="/products">Products Dashboard</div>
    <div class="menu-item" routerLink="/products-list">Products</div>
    <div class="menu-item">Orders</div>
    <div class="menu-item">Settings</div>
  </div>
</div>

<div class="main-content" [class.dark-mode]="isDarkMode">
  <div class="metrics-container">
    <div class="metric-card">
      <h3>Total Sale</h3>
      <div class="metric-value">$2354</div>
      <div class="metric-subtext">45 last week</div>
    </div>
    <div class="metric-card">
      <h3>Visitors</h3>
      <div class="metric-value">540</div>
      <div class="metric-subtext">25 last week</div>
    </div>
    <div class="metric-card">
      <h3>New Orders</h3>
      <div class="metric-value">160</div>
      <div class="metric-subtext">25 last week</div>
    </div>
    <div class="metric-card">
      <h3>Customers</h3>
      <div class="metric-value">430</div>
      <div class="metric-subtext">85 last week</div>
    </div>
  </div>

  <div class="product-list-container">
    <div class="toolbar">
      <button mat-raised-button color="primary" routerLink="/add">
        <mat-icon>add</mat-icon>
        Add Product
      </button>
    </div>

    

    <div class="charts-container">
      <div id="productsChart" class="chart"></div>
      <div id="waveChart" class="chart"></div>
  
    </div>
  </div>
</div>